span{text-align: right;}
h2{color: rgb(0, 183, 255)}
hr{height: 1px;background: rgb(0, 183, 255);}
header{text-align: center;}
.edu{display: inline-block;width: 80%;}
span{display: inline-block;}